.region-banner-second{
			margin-top:75px;
			.view{
				position:relative;
				z-index:0;
				@include breakpoint(medium){
					display:none;
				}
				@include breakpoint(small){
					display:none;
				}
			}
			.views-slideshow-cycle-main-frame-row{
				width:100% !important;
			}
			.view .views-row{
				background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
			    float: right;
			    margin: 0 90px;
			    min-width: 43%;
			    width:43%;
			    .event-links{
			    	background:none;
			    	width:auto;
			    	border:none;
			    	bottom:0;
			    	left:0;
			    	.event-link.register-btn{
			    		width:100%;
			    		border:none;
			    		a{
			    			padding:5px 20px;
			    		}
			    	}


			    }
			    .street-block{
			    	margin:0 5px 0 0;
			    }
			    .event-category{
			    		left:0;
			    		right:auto;
			    		background:#000;
			    		color:#fff;
			    	}
			    @include breakpoint(small){
			    	width:84%;
			    	margin:0 8%;
			    }
			    .views-field-field-scientific-area.item-flag a{
			    	background-color:#000;
			    	border:1px solid #555;
			    }
			    .item-content{
			    	width:92%;
			    	margin:40px 4% 50px;
			    	.explore-story a{
			    		background: none repeat scroll 0 0 #aa031f;
					    border: 2px solid #aa031f;
					    bottom: 0;
					    color: #fff;
					    font-size: 15px;
					    left: 0;
					    padding: 2px 16px;
					    right: auto;
			    	}
			    	.explore-story a:hover{
			    		color:#fff !important;
			    		background:none;
			    		text-shadow:none;
			    	}

			    }
			    .views-field-title a{
			    	color:#fff;
			    }
			}
			.views-slideshow-controls-bottom{
				
				.views-slideshow-controls-text-previous{
					left:0;
					position:absolute;
					top:40%;
					z-index:999;
					a{
						background: url("../images/previous.png") no-repeat scroll center center rgba(0, 0, 0, 0);
					    border: 2px solid #fff;
					    border-radius: 50%;
					    font-size: 0;
					    padding: 15px;
					}
				}
				.views-slideshow-controls-text-pause{
					display:none;
				}
				.views-slideshow-controls-text-next{
					right:0;
					position:absolute;
					top:40%;
					z-index:999;
					a{
						background: url("../images/next.png") no-repeat scroll center center rgba(0, 0, 0, 0);
					    border: 2px solid #fff;
					    border-radius: 50%;
					    font-size: 0;
					    padding: 15px;
					}
				}
			}
}
.page-node-60{
	#banner{
		.social-media{
			display:none;
		}
		.banner-second .banner-title{
				@include breakpoint(small){
					float:none;
				}
			}
	}
	#main{
		margin-top:30px;
	}
	.node{
		background:none;
	}
	header{
		background:none repeat scroll 0 0 #0d2040;
		#header{
			border-color:$red;
			@include breakpoint(medium){
		    	background:#fff;
		    	border-color:#fff;
		    }
		    @include breakpoint(small){
		    	background:#fff;
		    	border-color:#fff;
		    }
		}
	}
	.science-image{
		
	}
	#main-wrapper{
		padding-top:0;
	}
	.views-slideshow-cycle-main-frame{
		width:100% !important;
		z-index:0;
		.views-row .views-field-field-main-image{
			width:100% !important;
		}
		.views-slideshow-cycle-main-frame-row{
			width:100% !important;
		}
	}

	#block-nodeblock-48{
		@include breakpoint(medium){
			display:none;
		}
	}
}


#block-block-1{
	background:none repeat scroll 0 0 #333;
	padding: 25px 30px;
	h2{
		color:#eee;
		margin-bottom:20px;
	}
	.content{
		background:#fff;
		padding:20px;
		position:relative;
		h3{
			font-family: roboto slab;
		    font-size: 18px;
		    font-weight: normal;
		    padding: 15px 0 10px;
		}
		p{
			padding:5px 0 0;
			font-size:16px;
		}
		.contact-tag{
			background: none repeat scroll 0 0 $red;
		    color: #fff;
		    left: 0;
		    padding: 0 40px 4px;
		    position: absolute;
		    top: 0;
		}
	}
}
#block-block-2{
	background:#1f1f1f;
	padding: 25px 30px 0px;
	margin-bottom:0 !important;
	h2{
		color:#eee;
		margin-bottom:30px;
	}
	ul{
		li{
			a{
				background: url("../images/right_arrow.png") no-repeat scroll right center #333;
			    color: #ccc;
			    display: block;
			    font-weight: bold;
			    margin-bottom: 10px;
			    padding: 15px 20px;
			    text-align: left;
			    text-transform: uppercase;
			}
			a:hover{
				color:#fff !important;
				background: url("../images/white_arrow.png") no-repeat scroll right center $red;
			}
		}
	}
}
#block-nodeblock-48{
	background:#1f1f1f;
}

.view-support .views-row{
	padding:20px;	
	.support-story{
		right:calc(4%+ 100px);
	}
}
#main-wrapper .support-project{
	text-align:right;
	margin:30px 0;
	a{
		background: none repeat scroll 0 0 #aa031f;
	    color: #fff;
	    font-size: 16px;
	    padding: 15px 20px;
	    border:3px solid #efedea;
	}
	a:hover{
		border:3px solid $red;
		background:none;
	}
}

.donation-bar{
	 background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    display: block;
    float: left;
    padding: 20px 20px 0px;
    position: relative;
    margin-top: -68px;
    width: 100%;
    z-index: 9999;
	a{
		color:#fff;
	}
	.views-field-title{
		float:left;
		line-height:35px;
		a{
			color:#fff !important;
		}
	}
	.support-story{
		float:right;
		margin-top:5px;
		a{
			background:$red;
			padding: 15px 20px;
			color:#fff;
		}
		a:hover{
			background:rgba(0,0,0,0.5);
		}
	}
}

.page-node-1623 .sidebar-right .node{
	background:none;
}

.view-nodequeue-24.view-display-id-block_3{

	.views-row{
		.views-field-field-main-image{
			width:20%;
		}
		.item-flag{
			a{
				right:0;
				left:auto; 
			}
		}
		.item-content{
			width:70%;
		}
		.views-field-body{
			padding-bottom:20px;
		}
		.donation-links{
			background: none repeat scroll 0 0 #f6f5f1;
		    border: 1px solid #ddd;
		    border-radius: 5px;
		    bottom: 10px;
		    position: absolute;
		    width: 73%;

		    @include breakpoint(small){
			    width:100%;
			    float:left;
			    position:static;
			}
			.donation-link{
				border-right: 1px solid #ddd;
			    float: left;
			    text-align: center;
			    width: 33.33%;
			    @include breakpoint(small){
			    	width:100%;
			    	border-bottom:1px solid #ddd;
			    	border-right:none;
			    }
			    &.donate-project{
			    	background:#333;
			    	a{
			    		color:#fff;
			    	}
			    }
			    &.explore-related{
			    	border:none;
			    }
				a{
					display: block;
				    font-size: 14px;
				    padding: 5px;
				    width: 100%;
				    @include breakpoint(medium){
		    			font-size:13px;
		    			padding:5px 0;
		    		}
				}
				a:hover{
					color:#fff !important;
					background:$red;
				}

			}
		}
	}
}

#block-nodeblock-1672,#block-nodeblock-1703,#block-nodeblock-1672--2,#block-nodeblock-1703--2{
	background: none repeat scroll 0 0 #333;
    padding: 25px 30px 40px;
    @include breakpoint(medium){
    	display:none;
    }
    @include breakpoint(small){
    	display:none;
    }
	h2{
		color:#eee;
	}
	.node{
		padding:0;
		color:#ccc;
	}
	.form-item{
		width:100%;
		float:left;
		margin-bottom:5px;
	}
	label{
		display:none;
		margin:0;
	}
	.field-prefix{
		background: none repeat scroll 0 0 #ddd;
	    float: left;
	    font-size: 22px;
	    height: 40px;
	    line-height: 40px;
	    margin: 0;
	    text-align: center;
	    width: 40px;
	    color:#333;
	    
	}
	input{
		border: medium none;
	    float: left;
	    font-size: 16px;
	    height: 40px;
	    padding: 9px;
	    width: calc(100% - 40px);
	    
	}
	.webform-component-markup{
		margin:0;
	}
	.form-actions{
		width:100%;
		input{
			border-radius: 3px;
		    display: block;
		    padding: 5px 30px;
		    width: auto;
		}
	}
		.webform-component-select{
			background: url("../images/select.png") no-repeat scroll right center #fff;
			overflow:hidden;
		}
    	select{
    		display:inline-block;
			color: #8c8c8c;
			float:left;
			font-size:12px;
			padding: 10px;
			z-index:9999;
			cursor:pointer;
			background: transparent;
			border: none;
			width:110%;
			max-width:none !important;
			-webkit-appearance: none;
			background:none;
			border-radius:3px;
    	}
    	option{
    		padding:0px;
    		font-size:14px;
    	}
	
}
#block-nodeblock-1672,#block-nodeblock-1703{
display:none;
margin-bottom:40px;
	@include breakpoint(medium){
    	display:block;
    }
    @include breakpoint(small){
    	display:block;
    }
}

#block-views-nodequeue-24-block-5,#block-views-nodequeue-24-block-6,#block-views-nodequeue-24-block-7{
	width:100%;
	float:left;
	.view .views-row{ 
		.views-field-title a {
	    	color: #aa031f;
	    }
	    .item-content{
	    	width:92%;
	    }

    }

}

#block-block-5--2{
	background:none repeat scroll 0 0 #333;
	padding: 25px 30px;
	color:#eee;
	display:block;
	float:left;
	width:100%;
	@include breakpoint(medium){
    	display:none;
    }
    @include breakpoint(small){
    	display:none;
    }
}
#block-block-5{
background:none repeat scroll 0 0 #333;
	padding: 25px 30px;
	color:#eee;
	display:block;
	float:left;
	width:100%;
	display:none;
	margin-bottom:30px;
	@include breakpoint(medium){
    	display:block;
    }
    @include breakpoint(small){
    	display:block;
    }
}