#node-6{
	margin-bottom:30px;
	.field-name-body{
	    line-height: 24px;
	    margin-bottom: 20px;
	    margin-top: 10px;
	}
	

}

.page-node-6,.page-event-category,.page-past-events,.page-carnegie-public-lectures,.node-type-lecture{
	#sidebar-left{
		display:none;
		@include breakpoint(medium){
			display:block;
		}
		@include breakpoint(small){
			display:block;
		}
	}
}

#block-views-events-block-1{
	h2{
		padding:10px 0 15px;
		color:$red;
	}
}

.event-body{
	background:#fff;
	padding:20px 40px 0;
	margin-bottom:30px;
	.field-name-body{
		padding-bottom:40px;
	}
	.field-title{
		font-size:18px;
		font-weight:bold;
		 color: #454545;
	    font-family: roboto slab;
	    line-height: 31px;
	}
	.explore-event-category{
		text-align:center;
		span{
			background: none repeat scroll 0 0 #efedea;
		    border-radius: 30px;
		    padding: 14px 26px 24px;
		    display: none;
		}
		span:before{
			content:"\008b";
		}
	}
}

.view-events{
	.views-row{
		.item-content{
			width:77%;
			padding-bottom:30px;
			margin-left:2%;
			@include breakpoint(medium){
				width:75%;
			}
			@include breakpoint(small){
				width:70%;
			}
		}
		.event-category{
		    background: url("../images/speaker.png") no-repeat scroll 7px 2px #333;
		    font-size: 12px;
		    padding: 4px 20px 4px 37px;
		    position: absolute;
		    right: 0;
		    color:#fff;
		    @include breakpoint(medium){
		    	right:auto;
		    	left:20%;
		    }
		    @include breakpoint(small){
		    	right:auto;
		    	left:0;
		    }
		}
		.views-field-field-main-image{
			width:17%;
			@include breakpoint(medium){
				width:20%;
				margin:0;
			}
			@include breakpoint(small){
				width:20%;
			}
		}
		.views-field-title{
			margin-top:10px;
			a{
				font-size:18px;
				line-height:18px;
				color:$red;
			}
		}
		.event-links{
			background: none repeat scroll 0 0 #f6f5f1;
		    border: 1px solid #ddd;
		    border-radius: 5px;
		    bottom: 10px;
		    position: absolute;
		    width: 78%;
		    @include breakpoint(small){
			    width:100%;
			    float:left;
			    position:static;
			}
			.event-link{
			    float: left;
			    text-align: center;
			    @include breakpoint(small){
			    	width:100%;
			    	border-right:none;
			    }
			    &.register-btn{
			    	background:$red;
			    	border-right:1px solid #ddd;
			    	width:30%;
			    	@include breakpoint(medium){
				    	width:100%;
				    	border-right:none;
				    }
			    	@include breakpoint(small){
				    	width:100%;
				    	border-right:none;
				    }
			    	a{
			    		color:#fff;
			    	}
			    }
			    &.field-address{
			    	background: url("../images/marker.png") no-repeat scroll 10px 5px rgba(0, 0, 0, 0);
				    font-size: 12px;
				    padding: 5px 5px 5px 25px;
				    width: 70%;
				    @include breakpoint(medium){
				    	width:100%;
				    	border-right:none;
				    }
				    @include breakpoint(small){
				    	width:100%;
				    	border-right:none;
				    }
			    	
			    }

				a{
					display: block;
				    font-size: 13px;
				    padding: 5px;
				    width: 100%;
				}
				a:hover{
					color:#fff !important;
					background:$red;
				}

			}
			
		}
		.street-block{
			    float:left;
			    margin:0 5px;
			}
			.addressfield-container-inline{
				float:left;
			}
			.country{
				display:none;
			}
	}
}


.event-links{
			background: none repeat scroll 0 0 #f6f5f1;
		    border: 1px solid #ddd;
		    border-radius: 5px;
		    bottom: 20px;
		    position: absolute;
		    width: 70%;
		    .field-label{
		    	display:none;
		    }
		    @include breakpoint(small){
			    width:100%;
			    float:left;
			    position:static;
			}
			.event-link{
			    float: left;
			    text-align: center;
			    @include breakpoint(small){
			    	width:100%;
			    	border-right:none;
			    }
			    .field{
			    	width:100% !important;
			    }

			    &.register-btn{
			    	background:$red;
			    	border-right:1px solid #ddd;
			    	width:30%;
			    	@include breakpoint(medium){
				    	width:100%;
				    	border-right:none;
				    }
				    @include breakpoint(small){
				    	width:100%;
				    	border-right:none;
				    }
			    	a{
			    		color:#fff;
			    	}
			    }
			    &.field-address{
			    	background: url("../images/marker.png") no-repeat scroll 10px 5px rgba(0, 0, 0, 0);
				    font-size: 12px;
				    padding: 5px 5px 5px 25px;
				    width: 70%;
			    	@include breakpoint(medium){
				    	width:100%;
				    	border-right:none;
				    }
				    @include breakpoint(small){
				    	width:100%;
				    	border-right:none;
				    }
			    }

				a{
					display: block;
				    font-size: 13px;
				    padding: 5px;
				    width: 100%;
				}
				a:hover{
					color:#fff !important;
					background:$red;
				}

			}
			
		}
		.street-block{
			    float:left;
			    .thoroughfare{
			    	border-right: 2px solid #777;
				    display: inline;
				    font-weight: bold;
				    padding-right: 7px;
			    }
			    .premise{
			    	display:inline;
			    	padding-left:7px;
			    }
			}
			.addressfield-container-inline{
				float:left;
			}
			.country{
				display:none;
			}

.node-type-lecture .node{
	clear: both;
    float: left;
    margin-bottom: 50px;
    padding: 30px 30px 120px;
    position: relative;
    width: 100%;
}