/*front page override*/
.follow {
  float: right;
  margin-top: 24px;
}

.header .social-media {
  background-color: black;
  position: absolute;
  right: 0;
  top: 90px;
  z-index: 10;
  opacity: 0.7;
  width: 20%;
  padding: 10px;
}

header #header .social-media a {
  padding: 28px;
}

.page-node-1668 {
  header #header.white-header .header-menus {
    border: none;
  }
  .social-bar, .social-text {
    display: none;
  }
  header #header.white-header {
    .social-bar {
      padding: 10px 0 8px;
      .social-media {
        display: block;
        width: 100%;
      }
    }
    .social-media a {
      color: white;
    }
  }
  .Message {
    .explore-story {
      position: relative;
      a {
        background: url(../images/explore_icon.png) no-repeat scroll right top transparent;
        color: #444;
        display: block;
        padding: 1px 35px 3px 3px;
        position: absolute;
        right: 0;
        text-align: right;
        width: 200px;
        &:hover {
          background-position: right bottom;
          color: #333 !important;
          text-shadow: 1px 1px 1px #ccc;
          transition: all 0.5s ease;
        }
      }
    }
    .row {
      padding: 20px 0;
    }
    img {
      width: 90%;
    }
    .title {
      font-family: roboto slab;
      font-size: 25px;
      text-transform: none;
      color: #454545;
      line-height: 31px;
      font-weight: bold;
      cursor: pointer;
    }
  }
  .divider {
    height: 30px;
    width: 100%;
    background: none repeat scroll 0 0 #efedea;
  }
  .Message {
    .text {
      margin-bottom: 10px;
    }
    padding-bottom: 10px;
  }
  header #header {
    ul.mobile-menu li a {
      color: #fff;
    }
    &.white-header .header-menus {
      padding: 0;
    }
  }
}
// md slider arrow override
.front {
  .md-arrow-left {
    background: url(../images/bg_direction_nav.png) no-repeat 0 0;
    width: 30px;
  }
  .md-arrow-right {
    background: url(../images/bg_direction_nav.png) no-repeat 100% 0;
    width: 30px;
  }
}

@media screen and (max-width: 1060px) {
  .page-node-1668 {
    header #header.white-header a {
      color: black;
    }
    .follow {
      position: absolute;
      right: 15%;
      top: 3px;
    }
  }
}

@media screen and (max-width: 860px) {
  .page-node-1668 .follow {
    right: 130px;
  }
}

@media screen and (max-width: 410px) {
  .page-node-1668 .follow {
    right: 100px;
  }
}

/*@media screen and (max-width: 500px) {*/
/*.page-node-1668 .Message img {*/
/*width: 80%;*/
/*}*/
/*}*/

/*@media screen and (min-width: 992px) {*/
/*.page-node-1668 .Message .explore-story a {*/
/*top: 150%;*/
/*}*/
/*}*/

@media screen and (max-width: 380px) {
  .page-node-1668 {
    #mobile-search {
      display: none;
    }
    .follow {
      right: 50px;
    }
  }
}

/*.page-node-1668 .container.Message {*/
/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
/*margin-bottom: 7px;*/
/*background: rgb(244, 244, 244);*/
/*border-radius: 0 0 15% 0;*/
/*}*/

@media screen and (max-width: 600px) {
  .Message {
    .img {
      width: 80%;
      padding-bottom: 10px;
    }
    .text {
      width: 100%;
    }
  }
}

.Message {
  background: #fff;
  padding: 30px;
  position: relative;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 26px auto 0;
  min-height: 300px;
  padding: 24px;
  position: relative;
  width: 75%;
  margin-bottom: 30px;
  &:before, &:after {
    content: "";
    height: 98%;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  &:before {
    background: #fafafa;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    left: -5px;
    top: 4px;
    transform: rotate(-2.5deg);
  }
  &:after {
    background: #f6f6f6;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    right: -3px;
    top: 1px;
    transform: rotate(1.4deg);
  }
}

/*homepage bottom slideshow*/
/*#quicktabs-container-explore_carnegie_science  */

.views-slideshow-pager-fields div {
  display: block;
}

/*social meida share links*/
.social-share-item-email a {
  background-image: url(https://ws.sharethis.com/images/2017/email_32.png);
  display: block;
  height: 32px;
  width: 32px;
  text-indent: -9999px;
}
.social-share-item-facebook a.social-share-facebook {
  background: transparent url(https://ws.sharethis.com/images/2017/facebook_32.png);
}
.social-share-item-linkedin a.social-share-linkedin {
  background: transparent url(https://ws.sharethis.com/images/2017/linkedin_32.png);
}
.social-share-item-twitter a.social-share-twitter {
  background: transparent url(https://ws.sharethis.com/images/2017/twitter_32.png);
}
div.social-share {
  span {
    margin-top: 6px;
    margin-bottom: 5px;
    width: 100%;
    font-weight: bold;
  }
  a {
    border-radius: 50%;
    &:hover {
      opacity: 0.75;
    }
  }
}

/*cv grants page*/
.page-node-1850 {
  .wrapper {
    background: -webkit-linear-gradient(#fff, #FDFDFD, #F7F7F7);
    background: linear-gradient(#fff, #FDFDFD, #F7F7F7);
  }
  h1 {
    text-align: center;
  }
  .container {
    padding-top: 60px;
    padding-bottom: 20px;
    &.intro {
      font-family: Lato;
    }
  }
  .bookmarks {
    text-align: center;
    padding-bottom: 80px;
    margin-top: 45px;
    background-color: transparent;
    a {
      font-family: 'Roboto Slab', serif;
      color: black;
      font-size: 20px;
    }
    h2 a {
      font-family: 'Roboto Slab', serif;
      font-size: 25px;
      font-weight: bold;
      line-height: 31px;
      text-transform: none;
    }
    h1 {
      font-family: 'Roboto Slab', serif;
      font-weight: bold;
    }
    a:hover {
      text-decoration: none;
    }
    .row {
      margin-bottom: 20px;
      font-size: 25px;
    }
  }
  .project-list {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    background: #e9edee;
    color: #000000;
    cursor: pointer;
    margin-bottom: 20px;
    h2 {
      padding: 10px;
      font-family: Lato;
    }
    &:hover {
      background: #d7ddde;
    }
    &.active {
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      border-radius: 4px;
      -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
      box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
      background: #d7ddde;
      color: #000000;
    }
  }
  .project-list-content {
    display: none;
    font-family: Lato;
  }
}

/*Front page rows*/
.front #content .panels-flexible-row-14-main-row .pane-views-nodequeue-4-block-6 {
  max-height: 400px !important;
}

/*planned-gifts-comparison-chart*/
#node-1606 {
  td {
    white-space: initial;
  }
  th {
    white-space: nowrap;
  }
}
/*override bottom slideshow button hover color*/
#content-bottom .content-bottom .block-quicktabs .item-list ul li a:hover {
  color: #5eb6cd !important;
}
/*footer social media*/
#footer-wrapper #footer .social-media {
  margin-right: 100px;
}