/*image caption filter*/
.image-caption-container-left {
  margin-right: 10px;
}
.image-caption-container-right {
  margin-left: 10px;
}
.image-caption-container {
  max-width: 100%;
  height: auto !important;
  span {
    font-size: 14px;
  }
  img {
    width: 100% !important;
    height: auto !important;
  }
}
.image-caption {
  position: static;
  width: 100%;
  background: #d7d7d7;
  padding: 10px;
  margin-top: -4px;
}

/*donation sticky footer*/
.stickyFooter {
  background: #5eb6cd;
  color: rgb(255, 255, 255);
  width: 100%;
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  text-align: center;
  padding: 10pt;
  display: block;
  z-index: 9999;
  a {
    color: #163671;
  }
}
header #header {
  .give a, &.white-header .give a {
    background: #e45832;
    border: none;
    padding: 10px 15px;
  }
  .give a:hover, &.white-header .give a:hover {
    background: #ff643a;
    border: none;
    color: white;
  }
}
//mailchimp message block
#mc_embed_signup div#mce-responses {background: beige;}